root = true

# Unix-style newlines with a newline ending every file
[*]
  end_of_line = lf
  insert_final_newline = true

# For use by shfmt for POSIX shells
[*.{sh,bash}]
  # Majority of scripts are in bash.  Pure POSIX scripts are not common
  shell_variant = bash
  charset = utf-8
  indent_style = space
  indent_size = 2
  binary_next_line = true
  switch_case_indent = true
  space_redirects = true
  keep_padding = true
  function_next_line = false
